html {
    background-color: beige;
}
body {
    background-color: white;
    min-height: 100vh;
    max-width: 850px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

header h2 {
    font-size: 250%;
    text-align: center;
    margin-top: 15px;
}
.bannerimage {
    max-width: 500px;
}
